@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200;1,300;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* border: 1px solid red; */
  /* background-color: aqua; */
}

html,
body {
  height: 100% !important;
  width: 100%;

}

.navigation {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: rgb(0, 103, 244);
  position: fixed;

  top: 0;
  left: 0;
  z-index: 100;
  /* justify-content: space-between; */
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.nav-logo img {
  height: 55px;
  width: 6vw;


}

.nav-elements {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  height: 55px;
  /* background-color: black; */
}

.nav-elements ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 57vw;
  gap: 12px;
  padding-left: 0%;

  /* background-color: aqua; */

}

.nav-elements ul li {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

}

.nav-elements ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.486);
  transition: all .2s ease;
}


/* .nav-elements ul li a.active */
.nav-elements ul li a:hover,
.nav-elements ul li a:focus,
.nav-elements ul li a.active {
  color: white;
}

/* main body css */

#home {
  display: flex;
  padding-top: 80px;

  height: 100vh;
  width: 100%;


}

.home-l-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  background-color: rgb(0, 102, 244);
}

.home-heading {
  color: white;
  max-width: 90vw;

}

.home-heading h1 {
  font-size: 6vw;
  font-weight: 700;
}

.home-para {
  color: white;
  max-width: 34vw;
}

.home-para p {
  font-size: 16px;
}

.home-btn {
  max-width: 34vw;
  display: flex;
  gap: 2vw;
  padding-left: 2vw;

}

.btn {
  height: 10vh;
  width: 14vw;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 1.4vw;
  font-weight: 800;
  transition: all .3s ease;

}

#btn1 {
  background-color: white;
  color: rgb(0, 102, 244);

}

#btn2 {
  color: white;
}

#btn1:hover {
  background-color: transparent;
  color: white;
}

#btn2:hover {
  background-color: white;
  color: rgb(0, 102, 244);
}

.home-r-container {
  flex-grow: 2;
  background-color: rgb(0, 102, 244);

}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-img img {
  height: 83vh;
  width: 40vw;
}


/* CSS FOR SERVICE SECTION */

#services {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  background-color: #e8eef0;

}

.service-up-row h2 a {
  font-size: 44px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: .3s;
}

.service-up-row h2 a:hover {
  color: #0066F4;
}

.service-icon img {
  height: 88px;
  width: 93px;
}

.service-card {

  max-width: 19rem;
  border-radius: 15px;
  transition: .3s;

}

.service-card:hover {
  box-shadow: 8px 9px 20px 0px rgba(0, 0, 0, 0.562);

}

.service-card:not(:hover) {

  filter: grayscale();

}

@media screen and (max-width:430px) {

  .nav-logo img {
    height: 55px;
    width: 12vw;
    
  }
  .navigation{
    border-bottom: 1px solid #e5d7d7;
  }

  .nav-elements {
    visibility: hidden;
    pointer-events: none;
  }

  #home {
    display: flex;
    padding-top: auto 0px auto 0px;

    height: 85vh;
    width: 100%
  }


  .home-l-container {
    padding: 13vh 4vw;
    /* border: 2px solid red; */
  }

  .home-r-container {
  
    display: none;

  }
  .home-heading {
    color: white;
    max-width: 90vw;

  }
  .home-heading h1 {
    font-size: 17vw;
    font-weight: 700;
    
  }
  .home-para {
    color: white;
    max-width: 54vw;
    margin-bottom: 14%;
  }
  .home-para p {
    font-size: 12px;
  }

  .home-btn {
    max-width: 57vw;
    display: flex;
    gap: 1vw;
    padding-left: 0vw;

  }


}


@media screen and (min-width:431px) and (max-width:650px) {
  .home-btn {
    min-width: 49vw!important;
    display: flex;
    gap: 2vw;
    padding-left: 2vw;
}
  .btn {
    font-size: 10px;
    width: 160px;
    height: 8vh;
    text-align: center;
    padding-bottom: 9px;
  }
  .home-l-container {
    /* display: none; */
      padding: 9vw 5vw !important;
      
  }
  .home-heading h1 {
    font-size: 9vw;
    font-weight: 700;
}

.home-para p {
  font-size: 13px;
}

  .service-up-row h2 {
    font-size: 37px;
    font-weight: 300;

  }
}
@media screen and (min-width: 992px){
.gap-lg-5 {
    gap: 1rem!important;
}
}