@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,200;1,300;1,400&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* border: 1px solid red; */
  /* background-color: aqua; */
}

html,
body {
  height: 100% !important;
  width: 100%;
  overflow-x: hidden;


}

.navigation {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  background-color: rgb(0, 103, 244);
  position: sticky;

  top: 0;
  left: 0;
  z-index: 100;
  /* justify-content: space-between; */
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.nav-logo img {
  height: 55px;
  width: 6vw;


}

.nav-elements {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  height: 55px;
  /* background-color: black; */
}

.nav-elements ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 57vw;
  gap: 12px;
  padding-left: 0%;

  /* background-color: aqua; */

}

.nav-elements ul li {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

}

.nav-elements ul li a {
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255);
  transition: all .2s ease;
  padding-bottom: 5px;
  text-shadow: 0px 4px 3px #000;
  transform: scale(0.9,0.9);
}


/* .nav-elements ul li a.active */
.nav-elements ul li a:hover,
.nav-elements ul li a:focus,
.nav-elements ul li a.active {
  color: white;
  transform: scale(1,1);
  border-bottom: 1px solid rgb(255, 255, 255,0.7);
  
}

/* ------- mobile nav Css -------------- */

.mob-nav-icon {
  width: 40px;
  height: 40px;
  color: white;
  display: none;
  /* border: 2px solid white; */
  margin-right: 15px;
  cursor: pointer;
}

.mob-nav-btn {
  font-size: 40px;
  color: white;
}

#mob-nav-btn-2 {
  display: none;
}

/* ------- Home Section Css -------------- */

#home {
  display: flex;
  /* padding-top: 80px; */

  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(0, 102, 244);


}

.home-l-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 6vw 4vw;
  
}
.svg-container{
  display: none;
  height: auto;
  width: 75vw;
  /* border: 2px solid red; */
  position: absolute;
  bottom:24%;
  right: 2%;
  opacity: 0.6;
  z-index: 1;
}
.svg-container img{
  height: 100%;
  width: 100%;
  
}

.home-r-container {
  /* flex-grow: 2; */
  
  max-width: fit-content;

}

.home-heading {
  color: white;
  max-width: 90vw;

}

.home-heading h1 {
  font-size: 6vw;
  font-weight: 700;
  text-shadow: 2px 2px 10px black;
}

.home-para {
  color: white;
  max-width: 34vw;
  text-shadow: 2px 2px 10px black;
}

.home-para p {
  font-size: 16px;
}

.home-btn {
  max-width: 34vw;
  display: flex;
  gap: 2vw;
  padding-left: 2vw;

}

.btn {
  height: 10vh;
  width: 14vw;
  border: 2px solid white;
  border-radius: 50px;
  font-size: 1.4vw;
  font-weight: 800;
  transition: all .3s ease;

}

#btn1 {
  background-color: white;
  color: rgb(0, 102, 244);

}

#btn2 {
  color: white;
}

#btn1:hover {
  background-color: transparent;
  color: white;
}

#btn2:hover {
  background-color: white;
  color: rgb(0, 102, 244);
}



.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-img img {
  height: 83vh;
  min-width: 30vw;
}


/* ------- Service Section Css -------------- */

#services {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  /* background-color: black; */

}

.service-up-row h2 a {
  font-size: 44px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: black;
  text-decoration: none;
  transition: .3s;
}

.service-up-row h2 a:hover {
  color: #0066F4;
}

.service-icon img {
  height: 88px;
  width: 93px;
}

.service-card {

  max-width: 21rem;
  border-radius: 15px;
  transition: .3s;

}

.service-card:hover {
  box-shadow: 8px 9px 20px 0px rgba(0, 0, 0, 0.562);
  transform: scale(1, 1);
}

.service-card:not(:hover) {
  /* filter: grayscale(); */
  transform: scale(0.9, 0.9);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.562);

}

.service-link {
  max-width: fit-content;
}

/* ------- Pricing Section Css -------------- */

#pricing {

  width: 100%;
  padding-top: 80px;
}

.pricing-heading {

  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.pricing-para {
  text-align: center;
  font-size: 20px;
}

.pricing-card {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 21px;
  gap: 1vw;
  border-radius: 15px;
  background-color: white;
  transition: .3s;
  margin: 8px;
}

.pricing-card:hover {
  box-shadow: 8px 9px 20px 0px rgba(0, 0, 0, 0.562);
  transform: scale(1, 1);

}

.pricing-card:not(:hover) {
  /* filter: grayscale(); */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.562);
  transform: scale(0.9, 0.9);
}

.pricing-card img {
  height: 25vh;
  width: 25vw;
}

.pricing-card h3 {
  font-size: 22px;
}

.pricing-card h1 {
  font-size: 35px;
}

.pricing-card h1 span {
  font-size: 19px;
}

.pricing-card>p {
  font-size: 14px;
  max-width: 59vw;
  /* border: 2px solid; */
}

.pricing-card>button {
  font-size: 14px;
  font-weight: 800;
  padding: 7px 13px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: #0066F4;
  transition: .3s;

}

.pricing-card>button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.727);

}

/* ------- Contact Section Css -------------- */

#contact {
  /* height: 100vh; */
  width: 100%;
  padding-top: 80px;
  background-color: #E8EEF0;
}

.contact-btn {
  border: #fff;
  color: white;
  background-color: #0066F4;
  height: 8vh;
  min-width: 8vw;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease;
}

.contact-btn:hover {
  background-color: white;
  transform: scale(1.1, 1.1);
  border: 2px solid #0066F4;
  color: #0066F4;
}

/* ------- footer Section Css -------------- */

#footer {
  height: 18vh;
  width: 100%;
  background-color: black;
}


/* ------- media query for mobile -------------- */

@media screen and (max-width:430px) {

  .nav-logo img {
    height: 55px;
    width: 12vw;

  }

  .navigation {
    border-bottom: 1px solid #e5d7d7;
  }



  #home {
    display: flex;
    padding-top: auto 0px auto 0px;

    height: 75vh;
    width: 100%
  }


  .home-l-container {
    padding: 15vh 4vw;
    /* border: 2px solid red; */
    
  }
  .svg-container{
    display: inline-block;
  }

  .home-r-container {

    display: none;

  }

  .home-heading {
    z-index: 3;
    color: white;
    max-width: 90vw;
    margin-bottom: 3px;
    /* border: 2px solid white; */

  }

  .home-heading h1 {
    font-size: 15vw;
    font-weight: 700;
    text-shadow: 2px 2px 10px black;
    margin-top: -12px;

  }

  .home-para {
    color: white;
    max-width: 54vw;
    margin-bottom: 12%;
    z-index: 3;
  }

  .home-para p {
    text-shadow: 2px 2px 10px black;
    font-size: 12px;
  }

  .home-btn {
    max-width: 72vw;
    display: flex;
    gap: 1vw;
    z-index: 3;
    padding-left: 0vw;

  }

  .btn {
    height: 6vh;
    width: 30vw;
    font-size: 12px;
    z-index: 3;

  }

  .service-card:hover {
    transform: scale(0.93, 0.93);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.562);
  }

  .service-card:not(:hover) {
    filter: none;
    transform: scale(0.9, 0.9);

  }

  .pricing-card {
    align-items: center;
    padding: 2px 21px 37px 21px;
  }

  .pricing-card img {
    height: 18vh;
    width: 25vw;
  }

  .pricing-card>p {
    text-align: center;
  }

  .pricing-card:hover {
    transform: scale(1.03, 1.03);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.562);
  }

  .pricing-card:not(:hover) {
    transform: scale(1, 1);
    filter: none;

  }

  .contact-btn {
    font-size: 16px !important;
  }

  .footer-text {
    font-size: 14px;
  }

}

/* ------- media query for mobile navigation -------------- */

@media screen and (max-width:768px) {
  
  .nav-logo {
    padding-left: 15px;

    justify-content: flex-start;

  }


  .nav-elements {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-right: 30%;
    padding-bottom: 35vh;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: rgb(255, 245, 245);
    /* backdrop-filter: blur(2px);    */
    position: absolute;
    top: 0;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

/* border:1px solid red; */
    transform: translateX(100%);
    transition: all 0.3s linear;

  }
  

  .mob-active .nav-elements {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
  }

  .mob-active .mob-nav-icon #mob-nav-btn-2 {
    display: inline-block;
    color: black;
  }

  .mob-active .mob-nav-icon #mob-nav-btn-1 {
    display: none;
  }

  .nav-elements ul {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    /* padding-top: 20%; */
    /* border: 2px solid yellow; */
  }

  .mob-nav-icon {
    display: inline-block;
    color: black;
  }

  .nav-elements ul li a {
    color: black;
    transition: 0.2s;
    font-size: 18px;
    text-shadow:none;
    
    
  }
  
  

  .nav-elements ul li a:hover,
  .nav-elements ul li a:focus,
.nav-elements ul li a.active {
    
    color: black;
    font-weight: 600;
    transform: scale(1.2,1.2);
   border-bottom: 1px solid black;
    
  }
}

/* ------- media query for table -------------- */

@media screen and (min-width:431px) and (max-width:768px) {
  .home-btn {
    min-width: 49vw !important;
    display: flex;
    gap: 2vw;
    padding-left: 2vw;
  }

  .btn {
    font-size: 13px;
    width: 160px;
    height: 8vh;
    line-height: 14px;
    text-align: center;
    padding-bottom: 9px;
  }

  .home-l-container {
    /* display: none; */
    flex-grow: 1;
    padding:11vw 3.9vw !important;

  }

  .home-r-container {
    flex-grow: 1;
    background-color: rgb(0, 102, 244);
    max-width: 36%;

  }

  .home-heading h1 {
    font-size: 10vw;
    font-weight: 700;
  }

  .home-para p {
    font-size: 13px;
  }

  .service-up-row h2 {
    font-size: 37px;
    font-weight: 300;

  }
}

/* ------- media query for laptop -------------- */

@media screen and (min-width: 992px) {
  .gap-lg-5 {
    gap: 1rem !important;
  }
}